<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <p class="mb-2">Đăng kí học ngay nào</p>
           <button type="button" class="btn btn-primary">Học Ngay</button>
           <p>{{course.level}}</p>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
        
    </div>
</div>